body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.title {
  text-align: center;
  font-size: 80px;
  border: solid;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  border-radius: 0px 0px 80px 80px;
  background-color: #e85a4f;
  border: none;
}
.search-box {
  text-align: center;
  margin-top: 20px; /* Ajustez selon l'espace que vous voulez entre le titre et la boîte de recherche */
}

.search-box input {
  padding: 10px;
  width: 300px;
  border: 1px solid #e85a4f;
  border-radius: 5px;
  font-size: 16px;
}

.search-box button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.description {
  border: solid 2px #e85a4f;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  padding: 30px;
  border-radius: 150px;
  background-color: #dce6f1;
  text-align: center;

  font-family: "Courier New", Courier, monospace;
  padding-bottom: 10px;
}
.descriptiontitle {
  text-align: center;
}

.book-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.book-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.book-author {
  font-style: italic;
  margin-bottom: 4px;
}

.book-description {
  font-size: 14px;
}
.facebook {
  background-color: #3b5998;
  border: 2px solid #3b5998;
  border-radius: 8px;
  padding: 2px 8px;
  
}
.instagram {
 
  background-color: #c13584;
  border: 2px solid #3b5998;
  border-radius: 8px;
  padding: 2px 8px;
  margin-top: 40px;
 

}
.inst {
  text-decoration: none;
 
}
.fcb {
  text-decoration: none;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin-right: 10px;
 
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card1{
margin-left: 150px;
}
.btn{
 margin-bottom: 100px;
}
.form{
margin-left: auto;
margin-right: 20px;
  border: solid #e85a4f;
  padding: 15px 15px;
  text-align: center;
  width: 30%;
  background-color:  #dce6f1;
  border-radius: 20px;
  

}
#btnadd{
  font-size: 16px;
  margin-top: 20px;
  background-color: #d87770;
}
.dform{
  margin-left: 20px;
margin-right: auto;
  border: solid #e85a4f;
  padding: 15px 15px;
  text-align: center;
  width: 30%;
  background-color:  #dce6f1;
  border-radius: 20px;
margin-bottom: 80px;
}
#btndelete{
  font-size: 16px;
  margin-top: 20px;
  background-color: #d87770;

}